/* =========== HOME  =========== */
/* Banner */
.banner-info {
    padding-top   : 8.125rem;
    padding-bottom: 15.625rem;
    text-align    : center;
}

.banner-header {
    font-size  : 6.25rem;
    font-weight: bold;
    color      : #EBF9FB;
    padding    : 1.25rem;
}

.banner-header img {
    vertical-align: baseline;
}

.banner-desc {
    width     : 50rem;
    text-align: center;
    margin    : auto;
}

.banner-desc span {
    font-size  : 1.875rem;
    font-weight: bold;
    color      : #EBF9FB;
}

.banner-btn {
    padding: 2.813rem;
}

.banner-btn .btn {
    padding         : 18px 23px;
    font-weight     : bold;
    font-size       : 1.375rem;
    color           : #04C4D9;
    background-color: #FFFFFF;
    border-radius   : 0.625rem;
}

.banner-section .splide__slide {
    background-image   : url(../img/bg-banner.jpg);
    background-size    : auto 100%;
    background-repeat  : no-repeat;
    background-position: center center;
}

.banner-section .splide__pagination {
    bottom: 3.125rem;
}

.banner-section .splide__pagination__page {
    margin: 0.625rem;
}

.banner-section .splide__pagination__page.is-active {
    transform : scale(1);
    background: #04C4D9;
}

.banner-section .splide__arrow {
    display: none;
}

/* END - Banner */

/* Product */
.product-show {
    text-align      : center;
    padding-top     : 6.25rem;
    padding-bottom  : 6.25rem;
    background-color: #EBF9FB;
}

.product-title {
    color      : #04C4D9;
    font-weight: bold;
    font-size  : 4.375rem;
}

.product-decs {
    color    : #04C4D9;
    font-size: 1.875rem;
    max-width: 93.125rem;
    margin   : auto;
}

.product-links {
    margin        : 1.875rem auto;
    padding-bottom: 4.063rem;
    width         : fit-content;
}

.product-links a {
    margin         : 0 1.563rem;
    text-decoration: none;
    font-size      : 1.875rem;
    font-weight    : bold;
    color          : #04C4D9;
    padding-bottom : 0.938rem;
    display        : inline-block;
}

.line {
    position        : absolute;
    transition      : left 0.25s ease-in-out, width 0.25s 0.10s;
    height          : 4px;
    background-color: #04C4D9;
    left            : 0;
    width           : 69px;
    pointer-events  : none;
}

.product-img img {
    max-height: 31.25rem;
}

.product-info {
    background-color: #04C4D9;
    padding-top     : 5.125rem;
    padding-bottom  : 5.125rem;
}

.product-info .icon {
    height       : 85px;
    width        : 85px;
    background   : #FFFFFF;
    border-radius: 50%;
    padding      : 24px;
    cursor       : pointer;
}

.product-info .icon img {
    height: 2.188rem;
    width : auto;
}

.product-info .desc {
    margin-left: 1.875rem;
}

.product-info .desc .title {
    font-size    : 3.125rem;
    font-weight  : bold;
    color        : #1F1F26;
    margin-bottom: 1.25rem;
}

.product-info .desc .txt {
    font-size  : 1.563rem;
    font-weight: bold;
    color      : #1F1F26;
}

/* END - Product */

/* Quotes */
.quotes-section {
    background-color: #EBF9FB;
}

.quotes-content {
    max-width : 95rem;
    padding   : 9.375rem 0;
    margin    : auto;
    text-align: center;
}

.quotes-content .txt {
    font-size    : 2.625rem;
    font-weight  : bold;
    color        : #04C4D9;
    margin-bottom: 6.25rem;
}

.quotes-content .author {
    font-size  : 2rem;
    font-weight: bold;
    color      : #04C4D9;
}

/* END - Quotes */

/* Statistic */
.statistic-section {
    background-color: #04C4D9;
}

.statistic-content {
    padding  : 5rem 0;
    max-width: 81.25rem;
    margin   : auto;
}

.statistic-content .title {
    font-size    : 4.875rem;
    font-weight  : bold;
    text-align   : center;
    color        : #1F1F26;
    margin-bottom: 1.625rem;
}

.statistic-content .txt {
    font-size  : 2rem;
    font-weight: bold;
    text-align : center;
    color      : #1F1F26;
}

.statistic-img {
    background-image   : url(../img/statistic-img.jpg);
    background-position: center bottom;
    height             : 44rem;
    background-repeat  : no-repeat;
}

/* END - Statistic */

/* Idea */
.idea-section {
    background-color: #EBF9FB;
}

.idea-content {
    padding-top   : 6rem;
    padding-bottom: 4.625rem;
    max-width     : 51.625rem;
    margin        : auto;
}

.idea-content .title {
    font-size    : 4.375rem;
    font-weight  : bold;
    color        : #04C4D9;
    text-align   : center;
    margin-bottom: 2.25rem;
}

.idea-content .txt {
    font-size  : 1.875rem;
    font-weight: 500;
    color      : #04C4D9;
    text-align : center;
}

.idea-poster {
    display    : flex;
    align-items: center;
}

.idea-poster img {
    height    : 30rem;
    width     : 25%;
    object-fit: cover;
}

/* END - Idea */

/* News */
.news-section {
    background-color: #EBF9FB;
}

.news-content {
    padding-top   : 6rem;
    padding-bottom: 4.625rem;
    max-width     : 51.625rem;
    margin        : auto;
}

.news-content .title {
    font-size  : 4.375rem;
    font-weight: bold;
    color      : #04C4D9;
    text-align : center;
}

.news-content .txt {
    font-size  : 1.875rem;
    font-weight: 500;
    color      : #04C4D9;
    text-align : center;
    margin     : 2.25rem 0;
}

.news-card {
    margin   : 3.625rem auto;
    max-width: 94.875rem;
}

.news-card-body {
    padding         : 45px 30px;
    border          : 2px solid #1E69A2;
    border-radius   : 5px;
    min-height      : 30.25rem;
    max-width       : 485px;
    display         : flex;
    flex-flow       : column;
    justify-content : space-between;
    background-color: #FFFFFF;
    margin          : auto;

}

.news-txt {
    color    : #04C4D9;
    font-size: 1.563rem;
}

.news-footer {
    padding-top: 1.625rem;
    border-top : 1px solid #CFCFCF;
    display    : flex;

}

.news-footer .ava {
    height: 66px;
    width : 66px;
}

.news-footer .ava img {
    width        : 100%;
    height       : auto;
    object-fit   : cover;
    border-radius: 50%;

}

.news-footer .info {
    margin-left: 1.625rem;
}

.news-footer .info .name {
    font-size  : 1.375rem;
    font-weight: bold;
    color      : #04C4D9;
}

.news-footer .info .time {
    font-size  : 1.125rem;
    font-weight: bold;
    color      : #04C4D9;
}

.news-btn {
    margin-top    : 6.25rem;
    text-align    : center;
    padding-bottom: 6.25rem;
}

.news-btn button {
    background-color: #04C4D9;
    border-radius   : 10px;
    color           : #FCFCFC;
    font-size       : 1.375rem;
    font-weight     : bold;
    padding         : 18px 46px;
}

/* END - News */

/* =========== END - HOME  =========== */