.login-modal {
    position : relative;
    max-width: 1258px;
}

.login-modal .modal-content {
    width           : 1258px;
    background-color: #04C4D9;
    border          : 2px solid #1F1F26;
}

.login-modal .modal-body {
    padding: 45px 45px 85px 130px;
}

.login-modal .modal-body .close {
    position        : absolute;
    top             : 45px;
    right           : 45px;
    height          : 67px;
    width           : 67px;
    border-radius   : 50%;
    background-color: #FFFFFF;
    opacity         : 1;
}

/* =========== LOGIN  =========== */
.login-modal .col-left {
    width: 400px;
}

.login-modal .col-right {
    width: calc(100% - 400px);
}

.login-modal .header-title {
    font-size    : 44px;
    font-weight  : bold;
    color        : #FFFFFF;
    margin-top   : 40px;
    margin-bottom: 20px;
}

.login-modal .header-desc {
    margin-bottom: 45px;
    font-weight  : bold;
    font-size    : 22px;
    color        : #EBF9FB;
}

.login-modal .header-desc a {
    text-decoration: underline;
}

.login-modal form {
    margin-bottom: 45px;
    text-align   : right;
}

.login-modal form input.form-control {
    margin-bottom   : 22px;
    border          : 2px solid #1E69A2;
    border-radius   : 5px;
    background-color: #FFFFFF;
    padding         : 23px 23px;
    font-size       : 22px;
    font-weight     : 500;
    color           : #04C4D9;
}

.login-modal form #password {
    margin-bottom: 10px;
}

.login-modal form input::placeholder {
    font-size  : 22px;
    font-weight: 500;
    color      : #04C4D9;
}

.login-modal form a {
    font-size      : 18px;
    color          : #FFFFFF;
    text-decoration: underline;
}

.login-modal form .form-check {
    margin-top   : 27px;
    margin-bottom: 19px;
    padding      : 0;
    display      : flex;
    align-items  : center;
}

.login-modal form .form-check .form-check-input {
    z-index: -9999;
}

.login-modal form .form-check .check-input-custom {
    height          : 34px;
    width           : 34px;
    border-radius   : 5px;
    border          : 2px solid #1E69A2;
    background-color: #FFEFFF;
    color           : #1E69A2;
    margin          : 0;
    cursor          : pointer;
}

.login-modal form .form-check .form-check-input[type=checkbox]:checked+.check-input-custom {
    background-image   : url('../img/icon/checked-icon.png');
    background-position: center center;
    background-repeat  : no-repeat;
}

.login-modal form .form-check .form-check-label {
    color      : #EBF9FB;
    font-size  : 19px;
    font-weight: bold;
    margin-left: 19px;
}

.login-modal .btn-login {
    background-color: #3C3C3C;
    color           : #FFEFFF;
    font-size       : 22px;
    font-weight     : bold;
    border-radius   : 8px;
    padding-top     : 19px;
    padding-bottom  : 19px;
}

.login-modal .login-space {
    color      : #EBF9FB;
    font-size  : 18px;
    font-weight: bold;
}

.login-modal .login-space::before,
.login-modal .login-space::after {
    content   : "";
    display   : inline-block;
    border-top: 2px solid #EBF9FB;
    width     : calc(50% - 100px);
    transform : translateY(-6px);
}

.login-modal .login-space::before {
    margin-right: 10px;
}

.login-modal .login-space::after {
    margin-left: 10px;
}

.login-modal .login-social {
    display: flex;
    gap    : 23px;
    margin : 46px 23px 0 23px;
}

.login-social .social-item {
    width           : 67px;
    height          : 67px;
    background-color: #FFFFFF;
}

.login-modal .col-right img {
    height    : 100%;
    width     : 100%;
    object-fit: cover;
}

/* =========== END - LOGIN  =========== */

/* =========== FORGOT PASSWORD  =========== */

.forgot-modal .modal-content {
    background-image : url('../img/bg-forgot.png');
    background-repeat: no-repeat;
}

.forgot-modal .header-desc {
    font-family: "Segoe UI";
    font-weight: 400;
    height     : 145px;
}

.forgot-modal .col-right img {
    height    : auto;
    margin-top: calc(50% - 50px);
}

.PIN-modal .col-right img {
    transform: scaleX(-1);
}

.forgot-modal form input.form-control,
.PIN-modal form input.form-control {
    padding: 32px 23px;
}

.modal-dialog .input-group {
    gap: 20px;
}

.modal-dialog .input-group .form-control {
    border-radius: 5px;
}

.social-modal .col-right img {
    transform: rotate(180deg);
    height   : 100%;
    margin   : 0
}

.PIN-confirm .modal-content {
    background-image : url('../img/bg-forgot.png');
    background-repeat: no-repeat;
    text-align       : center;
}

.PIN-confirm .header-title {
    font-family: "Segoe UI";
    font-size  : 54px;
    font-weight: bold;
}

.PIN-confirm .header-desc {
    font-family: "Segoe UI";
    font-size  : 26px;
    max-width  : 540px;
    font-weight: 400;
    margin     : auto;
    height     : 145px;
}

.PIN-confirm .col-left {
    width: 100%;
}

.PIN-confirm .d-flex {
    flex-wrap   : wrap;
    margin-right: -15px;
    margin-left : -15px;
}

.PIN-confirm .col-right {
    width  : 100%;
    margin : 20px 40px -85px 40px;
    display: flex;
    gap    : 95px;
}

.PIN-confirm .col-right img {
    width : auto;
    height: 600px;
}

.link-left {
    background-image : url(../img/chat-left.png);
    width            : 270px;
    height           : 242px;
    background-repeat: no-repeat;
    margin-top       : 50px;
    display          : flex;
    justify-content  : center;
    align-items      : center;
}

.link-right {
    background-image : url(../img/chat-right.png);
    width            : 270px;
    height           : 242px;
    background-repeat: no-repeat;
    margin-top       : 50px;
    display          : flex;
    justify-content  : center;
    align-items      : center;
}

.col-right a {
    text-decoration: none;
    font-size      : 35px;
    font-weight    : bold;
    color          : #04C4D9;
    max-width      : 200px;
}

.login-success .col-right {
    margin       : 0;
    margin-top   : 20px;
    margin-bottom: calc(66px + 56px);
    position     : relative;
}

.login-success .col-right img {
    background-color: #FFFFFF;
    width           : 350px;
    height          : 350px;
    border-radius   : 8px;
    object-fit      : contain;
}

.login-success .col-right::after {
    position   : absolute;
    content    : "Venti_02";
    font-size  : 44px;
    font-weight: bold;
    color      : #EBF9FB;
    bottom     : calc(-66px - 56px);
    left       : calc(50% - 92px);
}

/* =========== END - FORGOT PASSWORD  =========== */
/* =========== REGISTER  =========== */
.register-modal .col-left {
    width: 460px;
}

.register-modal .modal-body {
    background-color: #EBF9FB;
}

.register-modal .header-title,
.register-modal .header-desc,
.register-modal .btn-login,
.register-modal .login-space {
    color: #04C4D9;
}

.register-modal .login-space::before,
.register-modal .login-space::after {
    border-color: #04C4D9;
}

.register-modal form #password {
    margin-bottom: 20px;
}

.register-modal .social-item {
    background-color: #04C4D9;
}

.register-modal .col-right {
    width: calc(100% - 460px);
}

.register-modal .col-right img {
    width: auto;
}

.register-modal .modal-body .close {
    background-color: #04C4D9;
}

.register_step {
    font-weight: bold;
    color      : #04C4D9;
}

.register_step .header-desc {
    font-size: 22px;

}

.register_step .content {
    gap       : 50px;
    margin    : auto;
    margin-top: 95px;
    width     : fit-content;
}

.register_step .select-img {
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

.register_step .select-img img {
    width           : 250px;
    height          : 250px;
    object-fit      : contain;
    border-radius   : 8px;
    background-color: #04C4D9;
}

.register_step .select-img .bg-white {
    width           : 250px;
    height          : 250px;
    background-color: #FFFFFF;
    border-radius   : 8px;
    font-size       : 30px;
    display         : flex;
    align-items     : center;
    text-align      : center;
}

.register_step .select-img .btn {
    font-size       : 30px;
    padding         : 6px 30px;
    background-color: #04C4D9;
    border-radius   : 8px;
    margin-top      : 50px;
    color           : #FFFFFF;
}

.register_step .img-list {
    height          : 215px;
    margin-top      : 50px;
    background-color: #343439;
    border-radius   : 8px;
    padding         : 29px 84px;
    display         : flex;
    flex-wrap       : wrap;
    gap             : 20px 10px;
}

.register_step .img-list img {
    width           : 74px;
    height          : 74px;
    object-fit      : contain;
    border-radius   : 8px;
    background-color: #04C4D9;
    cursor          : pointer;
}

#register_step_5 .header-title {
    font-size: 73px;
}

#register_step_5 .header-desc {
    font-size: 44px;
}

#register_step_5 .content {
    gap          : 0;
    margin-bottom: -85px;
}

#register_step_5 .link-left {
    background-image: url(../img/chat-left-blue.png);
}

#register_step_5 .link-right {
    background-image: url(../img/chat-right-blue.png);
}

#register_step_5 .content a {
    text-decoration: none;
    font-size      : 35px;
    font-weight    : bold;
    color          : #EBF9FB;
    max-width      : 200px;
}

#register_step_5 .content img {
    height: 600px;
    width : auto;
}

/* =========== END - REGISTER  =========== */