main {
    background-color: var(--main-white);
    background-image: url(../img/bg-shop.png);
    padding-top     : 145px;
    padding-bottom  : 430px;
}

.container-custom {
    max-width: 1500px;
    margin   : auto;
}

.card {
    border    : 0;
    background: transparent;
}

.card-header {
    background: transparent;
    border    : none;
    padding   : 0;
}

.card-header .btn {
    font-family  : "Noto Sans";
    font-size    : 50px;
    color        : var(--main-black);
    margin-bottom: 50px;
    padding      : 0;
}

.card-header .btn.collapsed {
    font-size  : 44px;
}

.card-header .btn::before {
    content          : "";
    background-image : url(../img/icon/arrow-right-black.png);
    margin-right     : 30px;
    width            : 28px;
    height           : 28px;
    display          : inline-block;
    background-repeat: no-repeat;
    transition       : .3s;
}

.card-header .btn.collapsed::before {
    content          : "";
    background-image : url(../img/icon/arrow-right-black.png);
    margin-right     : 30px;
    width            : 28px;
    height           : 28px;
    display          : inline-block;
    background-repeat: no-repeat;
    transition       : .3s;
    transform        : rotate(-90deg);
}

.card-header .btn,
.card-header .btn:active,
.card-header .btn:focus {
    outline   : 0;
    box-shadow: none;
}

.card-body {
    padding: 0;
}

#collapseOne .card-body {
    padding         : 62px 56px 82px 71px;
    background-color: var(--main-mint-2);
    display         : flex;
    justify-content : space-between;
}

#collapseOne .content img {
    width           : 250px;
    height          : 250px;
    background-color: var(--main-white);
    object-fit      : contain;
    margin-right    : 95px;
}

#collapseTwo .content {
    background-color: var(--main-white);
    box-shadow      : 0 3px 6px #dddddd;
    display         : flex;
    justify-content : space-between;
    margin-bottom   : 35px;
}

#collapseTwo .content-left {
    display: flex;
}

#collapseTwo .content-left .tag {
    width           : 298px;
    height          : 100%;
    background-color: var(--main-mint-1);
    text-align      : center;
    display         : flex;
    align-items     : center;
}

#collapseTwo .content-left .tag span {
    font-family: "Noto Sans";
    font-size  : 36px;
    font-weight: bolder;
    color      : var(--main-black);
}

#collapseTwo .content-left .info {
    margin-left: 65px;
}

#collapseTwo .content-left .info .title {
    font-family: "Noto Sans";
    font-size  : 36px;
    color      : var(--main-black);
}

#collapseTwo .content-left .info .btn {
    font-family     : "Noto Sans";
    font-size       : 26px;
    color           : var(--main-white);
    background-color: var(--main-mint-1);
    width           : 162px;
    text-align      : center;
    border-radius   : 0;
}

#collapseTwo .content-left .info .date {
    font-family: "Noto Sans";
    font-size  : 25px;
    color      : #8E8D8D;
    margin-top : 75px;
}

#collapseTwo .content-right {
    display     : flex;
    align-items : center;
    margin-right: 36px;
}

#collapseTwo .content-right span {
    font-family: "Noto Sans";
    font-size  : 22px;
    color      : var(--main-mint-1);
}

#collapseTwo .content-right img {
    margin-left: 10px;
    width      : 21px;
    transform  : rotate(-90deg);
}

#collapseThree .content {
    background-color: var(--main-white);
    padding         : 20px 25px;
    box-shadow      : 0 3px 6px #dddddd;
    display         : flex;
    margin-bottom   : 65px;
}

#collapseThree .content img {
    width           : 250px;
    height          : 225px;
    background-color: var(--main-mint-1);
    object-fit      : contain;
    margin-right    : 70px;
}

#collapseThree .content .desc {}

#collapseThree .content .desc .title {
    font-family  : "Noto Sans";
    font-size    : 40px;
    font-weight  : bolder;
    color        : #000000;
    margin-bottom: 30px;
}

#collapseThree .content .txt {
    font-family: "Noto Sans";
    font-size  : 25px;
    font-weight: bolder;
    color      : #616161;
}