* {
    font-family: "Noto Sans";
}

/* Header */
header {
    background-color: #04C4D9;
}

.container-custom {
    padding-left : 0.625rem;
    padding-right: 0.625rem;
    max-width    : 105rem;
    margin       : auto;
}

.nav-blue {
    color  : #1F1F26;
    padding: 4.375rem 1.25rem;
}

.nav-blue .navbar-brand img {
    height: 2.5rem;
}

.navbar-collapse {
    justify-content: right;
}

.navbar-nav-left {
    margin-right: 3.438rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-family  : "Segoe UI";
    font-weight  : bold;
    color        : #1F1F26;
    font-size    : 1.25rem;
    padding-left : 1.563rem;
    padding-right: 1.563rem;
}

.navbar-nav .nav-item img {
    height: 2.188rem;
}

.navbar-nav .nav-item:hover,
.navbar-nav .nav-item.active {
    color: #EBF9FB;
}

.dropdown:hover>.dropdown-menu {
    display    : block;
    margin-top : -60px;
    margin-left: -40px;
}

.dropdown>.nav-item:active {
    pointer-events: none;
}

#nav-user .ava img {
    background-color: #FFFFFF;
    width           : 57px;
    height          : 57px;
    border-radius   : 50%;
    object-fit      : contain;
}

#nav-user .username {
    font-size  : 23px;
    font-weight: bold;
    color      : #FFFFFF;
    margin-left: 25px;
}

.nav-user {
    margin-right: 90px;
}

.nav-user .dropdown-menu {
    background-image: url(../img/bg-user.png);
    background-color: #1E69A2;
    padding         : 35px;
}

.nav-user .dropdown-menu .dropdown-info {
    display      : flex;
    margin-bottom: 40px;
    gap          : 20px;
}

.nav-user .dropdown-menu .dropdown-info .ava img {
    width           : 93px;
    height          : 93px;
    background-color: #FFFFFF;
    border-radius   : 50%;
    object-fit      : contain;
}

.nav-user .dropdown-menu .dropdown-info .info .username {
    font-size: 34px;
    color    : #04C4D9;
}

.nav-user .dropdown-menu .dropdown-info .info .name {
    font-size: 17px;
    color    : #FFFFFF;
}

.nav-user .dropdown-menu a {
    display      : flex;
    align-items  : center;
    margin-bottom: 20px;
    padding      : 0;
}

.nav-user .dropdown-menu a:last-child {
    margin-bottom: 0;
}

.nav-user .dropdown-menu a img {
    width       : 30px;
    height      : 30px;
    margin-right: 20px;
    object-fit  : contain;
}

.nav-user .dropdown-menu a span {
    font-size  : 19px;
    font-weight: 300;
    color      : #FFFFFF;
}

.nav-user .dropdown-menu hr {
    border-top   : 2px solid #EBF9FB;
    margin-bottom: 20px;
}

.nav-user .dropdown-item:focus,
.nav-user .dropdown-item:hover {
    font-weight     : bold;
    background-color: transparent;
    color      : #FFFFFF;
}

/* END - Header */

/* Footer */
footer .container-custom {
    max-width: 99rem;
    margin   : auto;
}

.footer-first {
    background-color: #04C4D9;
    padding         : 180px 0;
    color           : #1F1F26;
}

.footer-logo img {
    max-width: 12.875rem;
}

.footer-sencond {
    background-color: #EBF9FB;
    font-size       : 1.25rem;
    font-weight     : bold;
    color           : #1F1F26;
    padding         : 42px 0;
}

.footer-desc {
    margin-top   : 52px;
    margin-bottom: 33px;
    font-size    : 1.875rem;
    font-weight  : 500;
    max-width    : 545px;
}

.footer-social {
    display    : flex;
    gap        : 25px;
    margin-left: -30px;
}

.social-item {
    display        : flex;
    height         : 75px;
    width          : 75px;
    justify-content: center;
    align-items    : center;
    border-radius  : 50%;
}

.social-item a {
    text-decoration: none;
}

.footer-first li {
    font-size    : 2.125rem;
    font-weight  : bold;
    margin-bottom: 3.625rem;
    display      : block;
}

.footer-first ol {
    font-size    : 1.563rem;
    font-weight  : bold;
    margin-bottom: 2.5rem;
    padding      : 0;
}

.footer-sencond a {
    text-decoration: none;
    font-size      : 1.25rem;
    font-weight    : bold;
    color          : #1F1F26;
    margin-left    : 87px;
}

/* END - Footer */

/* =========== SHOP  =========== */
/* =========== END - SHOP  =========== */