* {
    font-family: "Noto Sans";
}

/* =========== HOME  =========== */

/* Header */
header {
    background-color: #04C4D9;
}

.container-custom {
    padding-left : 0.625rem;
    padding-right: 0.625rem;
    max-width    : 105rem;
    margin       : auto;
}

.nav-blue {
    color  : #1F1F26;
    padding: 4.375rem 1.25rem;
}

.nav-blue .navbar-brand img {
    height: 2.5rem;
}

.navbar-collapse {
    justify-content: right;
}

.navbar-nav-left {
    margin-right: 3.438rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-family  : "Segoe UI";
    font-weight  : bold;
    color        : #1F1F26;
    font-size    : 1.25rem;
    padding-left : 1.563rem;
    padding-right: 1.563rem;
}

.navbar-nav .nav-item img {
    height: 2.188rem;
}

.navbar-nav .nav-item.active {
    color: #EBF9FB;
}

/* END - Header */

/* Banner */
.banner-info {
    padding-top   : 8.125rem;
    padding-bottom: 15.625rem;
    text-align    : center;
}

.banner-header {
    font-size  : 6.25rem;
    font-weight: bold;
    color      : #EBF9FB;
    padding    : 1.25rem;
}

.banner-header img {
    vertical-align: baseline;
}

.banner-desc {
    width     : 50rem;
    text-align: center;
    margin    : auto;
}

.banner-desc span {
    font-size  : 1.875rem;
    font-weight: bold;
    color      : #EBF9FB;
}

.banner-btn {
    padding: 2.813rem;
}

.banner-btn .btn {
    padding         : 18px 23px;
    font-weight     : bold;
    font-size       : 1.375rem;
    color           : #04C4D9;
    background-color: #FFFFFF;
    border-radius   : 0.625rem;
}

.banner-section .splide__slide {
    background-image   : url(../img/bg-banner.jpg);
    background-size    : auto 100%;
    background-repeat  : no-repeat;
    background-position: left top;
}

.banner-section .splide__pagination {
    bottom: 3.125rem;
}

.banner-section .splide__pagination__page {
    margin: 0.625rem;
}

.banner-section .splide__pagination__page.is-active {
    transform : scale(1);
    background: #04C4D9;
}

.banner-section .splide__arrow {
    display: none;
}

/* END - Banner */

/* Product */
.product-show {
    text-align      : center;
    padding-top     : 6.25rem;
    padding-bottom  : 6.25rem;
    background-color: #EBF9FB;
}

.product-title {
    color      : #04C4D9;
    font-weight: bold;
    font-size  : 4.375rem;
}

.product-decs {
    color    : #04C4D9;
    font-size: 1.875rem;
    max-width: 93.125rem;
    margin   : auto;
}

.product-links {
    margin        : 1.875rem auto;
    padding-bottom: 4.063rem;
}

.product-links a {
    margin         : 0 1.563rem;
    text-decoration: none;
    font-size      : 1.875rem;
    font-weight    : bold;
    color          : #04C4D9;
    padding-bottom : 0.938rem;
}

.product-links a:hover,
.product-links a.active {
    border-bottom: 4px solid #04C4D9;
}

.product-img img {
    max-height: 31.25rem;
}

.product-info {
    background-color: #04C4D9;
    padding-top     : 5.125rem;
    padding-bottom  : 5.125rem;
}

.product-info .icon {
    height       : 85px;
    width        : 85px;
    background   : #FFFFFF;
    border-radius: 50%;
    padding      : 24px;
    cursor       : pointer;
}

.product-info .icon img {
    height: 2.188rem;
    width : auto;
}

.product-info .desc {
    margin-left: 1.875rem;
}

.product-info .desc .title {
    font-size    : 3.125rem;
    font-weight  : bold;
    color        : #1F1F26;
    margin-bottom: 1.25rem;
}

.product-info .desc .txt {
    font-size  : 1.563rem;
    font-weight: bold;
    color      : #1F1F26;
}

/* END - Product */

/* Quotes */
.quotes-section {
    background-color: #EBF9FB;
}

.quotes-content {
    max-width : 95rem;
    padding   : 9.375rem 0;
    margin    : auto;
    text-align: center;
}

.quotes-content .txt {
    font-size    : 2.625rem;
    font-weight  : bold;
    color        : #04C4D9;
    margin-bottom: 6.25rem;
}

.quotes-content .author {
    font-size  : 2rem;
    font-weight: bold;
    color      : #04C4D9;
}

/* END - Quotes */

/* Statistic */
/* END - Statistic */

/* Idea */
/* END - Idea */

/* News */
/* END - News */

/* Footer */
/* END - Footer */

/* =========== END - HOME  =========== */

/* =========== LOGIN  =========== */
/* =========== END - LOGIN  =========== */

/* =========== REGISTER  =========== */
/* =========== END - REGISTER  =========== */

/* =========== SHOP  =========== */
/* =========== END - SHOP  =========== */