main {
    background-image: url(../img/bg-shop.png);
}

.main-header {
    font-family   : "Noto Sans";
    padding-top   : 82px;
    padding-bottom: 47px;
    text-align    : center;
    font-size     : 70px;
    color         : #00C4DA;
}

.main-header img {
    vertical-align: baseline;
}

.main-search {
    text-align: center;
}

.main-search input {
    font-family  : "Noto Sans";
    border       : 1px solid #707070;
    border-radius: 20px;
    font-size    : 33px;
    padding      : 33px;
    padding-top  : 23px;
    font-weight  : 300;
    width        : 1300px;
    margin-bottom: 113px;
}

.main-search input,
.main-search input:hover,
.main-search input:focus {
    outline   : 0;
    box-shadow: none;
}

.main-content {
    background-color: var(--main-mint-2);
    padding         : 30px 70px 200px 70px;
    display         : flex;
    color           : var(--color-black);
}

.content-title {
    font-family: "Noto Sans";
    font-size  : 32px;
    font-weight: bold;
}

.content-left {
    font-family : "Noto Sans";
    margin-right: 70px;
    font-size   : 25px;
}

.main-content ul {
    font-family: "Noto Sans";
    padding    : 0;
    margin-top : 50px;
    width      : max-content;
}

.main-content li {
    font-family  : "Noto Sans";
    display      : block;
    margin-bottom: 20px;
}

.content-right {
    font-family : "Noto Sans";
    border-left : 1px solid #707070;
    padding-left: 75px;
    width       : -webkit-fill-available;
    font-size   : 30px;
}

.content-right .content-title {
    font-family  : "Noto Sans";
    font-size    : 38px;
    color        : var(--main-black);
    margin-bottom: 30px;
}

.content-right a {
    font-family    : "Noto Sans";
    color          : var(--sub-blue);
    text-decoration: underline;
    margin-bottom  : 32px;
    display        : block;
}

.content-right .collapse p,
.content-right .collapse span {
    font-size  : 30px;
}